<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>653690220455-dhnsenr11gbldlpo7qd51cbimktt3eg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653690220455-dhnsenr11gbldlpo7qd51cbimktt3eg1</string>
	<key>API_KEY</key>
	<string>AIzaSyA32g7S5chBHropld4jO6Ccda3FhW6-us0</string>
	<key>GCM_SENDER_ID</key>
	<string>653690220455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juancarlosjr97.flutterIms</string>
	<key>PROJECT_ID</key>
	<string>flutter-ims-fe06f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ims-fe06f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653690220455:ios:6b57c8d816d83db9</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-ims-fe06f.firebaseio.com</string>
</dict>
</plist>